{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {},
    "target": "es2020"
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "development": {
      "source_maps": true
    }
  }
}
